.card {
  background-color: #FBFBFB;
  display: flex;
  border-radius: 6px;
  width: 235px;

  @media (max-width: 1280px) {
    min-width: 235px;
    width: 48%;
  }

  .imgBackground {
    width: 60px;
    height: 60px;
    opacity: 0.1;
    position: relative;
    top: 25px;
    left: 25px;
    border-radius: 6px;
    margin-top: 10px;
  }

  img {
    position: relative;
    bottom: 13px;
    left: 45px;
  }

  .cardText {
    position: relative;
    top: 20px;
    left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 45px;

    .data {
      color: #282D30;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 0px;
    }

    .category {
      color: #74798C;
      font-size: 14px;
      font-weight: 700;
      margin-top: 5px;
    }
  }
}
